package components

css footer() {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

templ Footer() {
    <footer class={ footer() }>JavaScriptDle &copy; 2024</footer>
}
