package components

css header() {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

templ Header() {
    <header class={ header() }>
        <h1>JavaScriptDle</h1>
    </header>
}
